{% extends "base.html.twig" %}

{% block content %}
    <h1>
        {% block header %}{{ name|capitalize|replace('_', ' ') }} list{% endblock %}
        {% block count %} &middot; {{ entities|length }} items{% endblock %}
    </h1>

    <div class="buttonbox">
    {% block buttons_default %}
        <a href="{{ path(name ~ '_add') }}" class="btn btn-success" role="button">
            <i class="fa fa-plus"></i>
            Add
        </a>

        {% block buttons %}
        {% endblock %}
    {% endblock %}
    </div>

    {% block index %}
    {% endblock %}
{% endblock %}
