{% extends "@Theme/layout.html.twig" %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        {% for l in libraries %}
        <li>
            <a href="{{ path('space_index', {'accountName': l.account_name}) }}">{{ l.account_name }}</a>
             /
             <a href="{{ path('space_view', {'accountName': l.account_name, 'spaceName': l.name}) }}">{{ l.name }}</a>
         </li>
        {% endfor %}
    </ul>
{% endblock %}
