{% extends "@Theme/layout.html.twig" %}

{% block content_wrapper %}
    <div class="container">
        <h1>Library</h1>
        Name: {{ library.getName }}<br />
        <div class="buttonbox">
            <a class="btn btn-default" href="{{ path('library_index', {'accountName': accountName }) }}">Back</a>
            <a class="btn btn-primary" href="{{ path('library_edit', {'accountName': accountName, 'libraryName': library.getName }) }}">Edit</a>
        </div>
    </div>
{% endblock %}
