<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="linkorbengineering-logo"
                     src="{{ asset('/img/linkorbengineering-logo.png') }}"/>
            </div>
            <div class="col-md-6">
                &copy; {{ "now"|date("Y") }} LinkORB Engineering
            </div>
        </div>
    </div>
</footer>
