<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="linkorbengineering-logo"
                     src="{{ path('assets', { 'postfix': '/img/linkorbengineering-logo.png' }) }}"/>
            </div>
            <div class="col-md-6">
                &copy; 2015 LinkORB Engineering
            </div>
        </div>
    </div>
</footer>
